.browse {
  font-family: Arial, sans-serif;

  header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;

    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        margin: 0;
      }

      nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        li {
          margin-right: 15px;
          cursor: pointer;
        }

        input {
          padding: 5px;
        }
      }
    }
  }

  main {
    padding: 20px;
    text-align: center;

    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .category-buttons, .sort-buttons {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      button {
        padding: 10px 20px;
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
        margin: 0 10px;
      }
    }

    .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .product {
        margin: 20px;
        text-align: center;

        img {
          width: 300px;
          height: auto;
        }

        h3 {
          font-size: 1.2rem;
          margin: 10px 0;
        }

        p {
          font-size: 1rem;
          color: #333;
        }

        .unavailable span {
          color: red;
          font-weight: bold;
        }

        button {
          display: block;
          margin: 10px auto;
          padding: 10px 20px;
          background-color: black;
          color: white;
          border: none;
          cursor: pointer;
        }
      }
    }

    .pagination {
      margin-top: 20px;
      margin-bottom: 50px; 

      button {
        padding: 10px;
        margin: 5px;
        border: none;
        cursor: pointer;
        background-color: #4CAF50;
        color: white;
      }
    }
  }

  footer {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
    text-align: center;

    button {
      background-color: black;
      border: none;
      color: white;
      cursor: pointer;
      padding: 10px 20px;
      margin: 10px;
    }
  }
}
